Source/Demos/Bosphorus.ServiceModel.Hosting.Demo.Client/Service References/DemoServiceReference/DemoModule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.bosphorus.com/DemoModule" elementFormDefault="qualified" targetNamespace="http://schemas.bosphorus.com/DemoModule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="IdentifiableOfdateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IdentifiableOf{0}{#}" Namespace="http://schemas.bosphorus.com/DemoModule" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentifiableOfdateTime" nillable="true" type="tns:IdentifiableOfdateTime" />
</xs:schema>