Source/Demos/Bosphorus.ServiceModel.Hosting.Demo.Client/Service References/DemoServiceReference/Hosting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.bosphorus.com/Hosting" elementFormDefault="qualified" targetNamespace="http://service.bosphorus.com/Hosting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.bosphorus.com/DemoModule" />
  <xs:element name="GetDateTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDateTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Complex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.bosphorus.com/DemoModule" minOccurs="0" name="customer" nillable="true" type="q1:Customer" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComplexResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.bosphorus.com/DemoModule" minOccurs="0" name="customers" nillable="true" type="q2:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultipleInputResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.bosphorus.com/DemoModule" minOccurs="0" name="identifiable" nillable="true" type="q3:IdentifiableOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenericInputResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleOutput">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleOutputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.bosphorus.com/DemoModule" minOccurs="0" name="MultipleOutputResult" nillable="true" type="q4:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Throw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThrowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>